/* ===== main-section ===== */

/* section #1 - above-cnt */
.above-cnt{
	position: relative;
	padding: 96px 0 584px;
}
.above-cnt .text-wrap{
	font-size: 12.5vw;
}
.above-cnt .text-wrap p{
	padding: 0 42px;
	width: 100%;
	font-weight: 600;
}
.above-cnt .text-wrap > *{
	position: relative;
}
.above-cnt .text-wrap > *:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 7px;
	width: 100vw;
	height: 1px;
	background-color: #fff;
}
.above-cnt .text-wrap > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.above-cnt > img{
	position: absolute;
	left: 50%;
	top: 43.2vw;
	width: 320px;
	transform: translateX(-50%);
}